<div *ngIf="!isLoggedIn; else loggedIn">
  <form [formGroup]="loginFormGroup" (submit)="onLogin()">
    <input type="text" formControlName="username" placeholder="Username">
    <br>
    <input type="password" formControlName="password" placeholder="Password">
    <br>
    <button type="submit">Login</button>
  </form>
</div>

<ng-template #loggedIn>
  <p>#Show only if user is logged in</p>
  <button (click)="logout()">Logout</button>
</ng-template>
<hr>
<div *ngIf="tokenPayload$ | async as tokenPayload">
  <p>User logged in: {{tokenPayload?.username}}</p>
</div>

<button (click)="onLoadFlights()">Get flights</button>
<pre *ngIf="flights$ | async as flights">{{flights | json}}</pre>
