<div *ngIf="!isLoggedIn; else loggedIn">
  <form [formGroup]="loginFormGroup" (submit)="login()">
    <input type="text" formControlName="username" placeholder="Username">
    <br>
    <input type="password" formControlName="password" placeholder="Password">
    <br>
    <button type="submit">Login</button>
  </form>
</div>

<ng-template #loggedIn>
  <button (click)="logout()">Logout</button>
</ng-template>
<hr>
<div>
  <p *ngIf="loggedIn$ | async as loggedIn">User logged in: {{loggedIn.username}}</p>
</div>

<button (click)="getFlights()">Get flights</button>
<pre>{{flights$ | async | json}}</pre>
